@import "../../sass/mixins";
@import "../../sass/variables";
.servicesWrp {
  // position: relative;
  // left: 0;
  // top: 0;
  // background-image: url(../../assets/img/bg-car.png);
  // background-position: center;
  // background-size: cover;
  // background-repeat: no-repeat;
  // overflow: hidden;
  margin-bottom: 20px;
  @media screen and (min-width: $breakpoint-tablet) {
    margin-bottom: 76px;
  }
  @media screen and (min-width: $breakpoint-desktop) {
    margin-bottom: 88px;
  }
}
.servicesContainer {
  margin-right: 16px;
  margin-left: 16px;
  margin-bottom: 20px;
  @media screen and (min-width: $breakpoint-tablet) {
    margin-right: 32px;
    margin-left: 32px;
    min-height: 398px;
    margin-bottom: 76px;
  }
  @media screen and (min-width: $breakpoint-desktop) {
    margin-right: 128px;
    margin-left: 128px;
    min-height: 439px;
    margin-bottom: 88px;
  }
}

.servicesPreTitle {
  color: $secondaryTextColor;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  text-transform: uppercase;
  margin-bottom: 6px;
  @media screen and (min-width: $breakpoint-tablet) {
    font-size: 14px;
    line-height: 18px;
  }
  @media screen and (min-width: $breakpoint-desktop) {
  }
}
.servicesTitle {
  color: $mainTextColor;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 40px;
  @media screen and (min-width: $breakpoint-tablet) {
    font-size: 40px;
    line-height: 44px;
  }
  @media screen and (min-width: $breakpoint-desktop) {
    margin-bottom: 64px;
  }
}

.servicesListWrp {
  display: flex;
  justify-content: center;
}
.servicesList {
  @media screen and (min-width: $breakpoint-tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    gap: 32px;
    margin-bottom: 24px;
  }
  @media screen and (min-width: $breakpoint-desktop) {
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
  }
}
.servicesItem {
  position: relative;
  background: rgba(70, 74, 79, 0.515);
  height: 132px;
  border-radius: 16px;
  margin-bottom: 40px;
  &:nth-last-of-type(1) {
    margin-bottom: 0;
  }
  @media screen and (min-width: $breakpoint-tablet) {
    // background: transparent;
    width: calc((100% - 60px) / 2);
    margin-bottom: 0px;
  }
  @media screen and (min-width: $breakpoint-desktop) {
    width: calc((100% - 65px) / 3);
  }
}
.chekImg {
  position: absolute;
  left: 50%;
  bottom: 60%;
  transform: translate(-50%, -50%);
}
.servicesText {
  padding-top: 40px;
  text-align: center;
  color: $mainTextColor;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.servicesDescription {
  text-align: center;
  color: $mainTextColor;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
