@import "../../sass/mixins";
@import "../../sass/variables";

.contactUscontactUsFieldWrp {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
  margin-bottom: 40px;

  input {
    padding: 4px 8px;
    position: relative;
    color: #fff;
    outline: none;
    box-sizing: border-box;
    width: 100%;
    background-color: inherit;
    border: none;
    border-bottom: 1px solid rgba(250, 250, 248, 0.2);
    @media screen and (min-width: $breakpoint-tablet) {
      padding: 16px 8px;
    }
    &:hover,
    &:focus,
    &:active {
      border: none;
      border-bottom: 1px solid $mainAccentColor;
    }
    &::placeholder {
      color: $secondaryTextColor;
      font-size: 10px;
      font-weight: 300;
      line-height: 1.8;
      @media screen and (min-width: $breakpoint-tablet) {
        font-size: 14px;
      }
    }
  }
}
.contactUsSubmitBtn {
  width: 100%;
  font-family: Montserrat;
  outline: transparent;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  color: $btnTextColor;
  background-color: $mainAccentColor;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 10px 20px;
  &:hover,
  &:focus,
  &:active {
    color: #fff;
    box-shadow: 0 0 10px 0 $mainAccentColor inset, 0 0 20px 2px $mainAccentColor;
    border: 1px solid $mainAccentColor;
  }
  @media screen and (min-width: $breakpoint-tablet) {
    font-size: 16px;
    line-height: 24px;
    padding: 16px 32px;
  }
}

.errorMessage {
  position: absolute;
  font-size: 8px;
  line-height: 1.5;
  color: #e74a3b;
  @media screen and (min-width: $breakpoint-tablet) {
    font-size: 14px;
    line-height: 1.5;
  }
}
