@import "../../sass/mixins";
@import "../../sass/variables";

.carContainer {
  margin-right: 16px;
  margin-left: 16px;
  margin-bottom: 60px;
  @media screen and (min-width: $breakpoint-tablet) {
    margin-right: 32px;
    margin-left: 32px;
    min-height: 398px;
    margin-bottom: 100px;
  }
  @media screen and (min-width: $breakpoint-desktop) {
    margin-right: 128px;
    margin-left: 128px;
    min-height: 439px;
    margin-bottom: 128px;
  }
}

.carPreTitle {
  color: $secondaryTextColor;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  text-transform: uppercase;
  margin-bottom: 6px;
  @media screen and (min-width: $breakpoint-tablet) {
    font-size: 14px;
    line-height: 18px;
  }
  @media screen and (min-width: $breakpoint-desktop) {
  }
}
.carTitle {
  color: $mainTextColor;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 40px;
  @media screen and (min-width: $breakpoint-tablet) {
    font-size: 40px;
    line-height: 44px;
  }
  @media screen and (min-width: $breakpoint-desktop) {
    margin-bottom: 74px;
  }
}
.auctionTitle {
  // text-align: center;
  color: $mainTextColor;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 12px;
  @media screen and (min-width: $breakpoint-tablet) {
    font-size: 20px;
    line-height: 44px;
  }
  @media screen and (min-width: $breakpoint-desktop) {
    margin-bottom: 30px;
  }
}
.auctionList {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background: rgba(70, 74, 79, 0.515);
  border-radius: 16px;
  border: 1px solid #434346;
  padding: 10px;
  @media screen and (min-width: $breakpoint-tablet) {
    border-radius: 55px;
  }
  @media screen and (min-width: $breakpoint-desktop) {
    padding: 20px;
  }
}
.auctionItemImgFs {
  width: 100px;
  height: 50px;
  // padding-top: 15px;
  &:hover,
  &:focus {
    transform: scale(1.2);
  }
  @media screen and (min-width: $breakpoint-tablet) {
    padding-top: 0;
    width: 257px;
    height: auto;
  }
}

.auctionItemImgSc {
  width: 70px;
  // padding-top: 20px;
  &:hover,
  &:focus {
    transform: scale(1.2);
  }
  @media screen and (min-width: $breakpoint-tablet) {
    width: 120px;
    padding-top: 0;
  }
  @media screen and (min-width: $breakpoint-desktop) {
  }
}
.auctionItemImgTr {
  width: 100px;
  height: 50px;
  &:hover,
  &:focus {
    transform: scale(1.2);
  }
  @media screen and (min-width: $breakpoint-tablet) {
    width: 200px;
    height: 100px;
  }
}

.advantagesListWrp {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  @media screen and (min-width: $breakpoint-tablet) {
    // justify-content: space-around;
    // flex-direction: column;
    margin-bottom: 40px;
  }
}
.advantagesList {
  display: flex;
  // justify-content: space-around;
  // align-items: baseline;
  overflow: hidden;
  flex-wrap: wrap;
  gap: 10px;
  @media screen and (min-width: $breakpoint-tablet) {
    gap: 30px;
    margin-bottom: 34px;
  }
}
.advantagesItemWrp {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 12px;
}
.advantagesItem {
  // width: calc((100% - 60px) / 2);
  // margin-bottom: 55px;
  @media screen and (min-width: $breakpoint-tablet) {
    // width: calc((100% - 60px) / 3);
  }
}

.advantagesText {
  color: $mainTextColor;
  font-family: Montserrat;
  text-transform: uppercase;
  overflow-wrap: break-word;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  // margin-bottom: 12px;
  @media screen and (min-width: $breakpoint-tablet) {
    font-size: 16px;
    line-height: 24px;
    // margin-bottom: 16px;
  }
  @media screen and (min-width: $breakpoint-desktop) {
  }
}

.advantagesDescription {
  color: $secondaryTextColor;
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 400;
  line-height: 12px;
  @media screen and (min-width: $breakpoint-tablet) {
    font-size: 14px;
    line-height: 18px;
  }
}
.advantagesItemImg {
  margin-bottom: 20px;
  @media screen and (min-width: $breakpoint-tablet) {
    width: 72px;
    height: 72px;
  }
}

.advantagesSvg {
  width: 24px;
  height: 24px;
  &:hover {
    transition: all 0.65s;
    transform: rotateY(360deg);
  }
}
.contactContainer {
  display: flex;
  gap: 40px;
  flex-direction: column;
  @media screen and (min-width: $breakpoint-tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
  h2 {
    color: $mainTextColor;
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 18px;
    line-height: 1.37;
    @media screen and (min-width: $breakpoint-tablet) {
      font-size: 20px;
      line-height: 44px;
      margin-bottom: 30px;
    }
  }
}
.carMobileTelWrp {
  display: flex;
  flex-direction: column;
  gap: 9px;
  @media screen and (min-width: $breakpoint-tablet) {
    gap: 20px;
  }
}
.carMobileTel {
  font-size: 16px;
  color: $mainAccentColor;
  &:hover,
  &:focus {
    color: $mainTextColor;
  }
  @media screen and (min-width: $breakpoint-tablet) {
    font-size: 30px;
  }
}
.carMobileWrp {
  display: flex;
  align-items: center;
  gap: 8px;
  svg {
    width: 18px;
    height: 18px;
    @media screen and (min-width: $breakpoint-tablet) {
      width: 24px;
      height: 24px;
    }
  }
}
