@import "../../../sass/mixins";
@import "../../../sass/variables";

.mapIframe {
  margin: 0 auto;
  width: 100%;
  min-height: 314px;
  margin-bottom: 24px;
  border-radius: 16px;
  border: 1px solid transparent;
  filter: invert(90%) grayscale(1) hue-rotate(180deg);
  @media screen and (min-width: $breakpoint-tablet) {
    min-height: 378px;
    margin-bottom: 32px;
  }
  @media screen and (min-width: $breakpoint-desktop) {
    min-width: 570px;
    margin-bottom: 0;
  }
}
